{% extends 'base.html'%}
<html lang="en">
<head>
</head>
<style>
      .jumbotron {
        padding-top: 50px;
}


</style>


<body>
    {% block content%}
        <h1 class="text-center display-4 bg-primary"  >Contact Us</h1>

    <div class="container-fluid" id="id1">
        <div class="row">
            <div class="col-md-5 pl-5">
                <section class="bordered border-dark">
                    <div class="row">
                        <div class="col-md-9 bg-secondary text-white">
                            <form id="contact-form" name="contact-form"method="POST">
                                {% csrf_token%}
                                <div class="row">
                
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="mt-5">Your name</label>
                                            <input type="text" id="name" name="name" class="form-control">
                                        </div>
                                    </div>
                
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="mt-5">Your email</label>
                                            <input type="text" id="email" name="email" class="form-control">
                                        </div>
                                    </div>
                
                                </div>
                           
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="mt-2">Subject</label>
                                            <input type="text" id="subject" name="subject" class="form-control">
                                            
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                
                            
                                    <div class="col-md-12">
                
                                        <div class="md-form">
                                            <label for="message" class="mt-2">Your message</label>
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                           
                                        </div>
                
                                    </div>
                                </div>
                                <center>
                                    <input type="submit" value="Submit" class="mt-3">
                                    <input type="reset" value="Cancel">
                                    </center>
                            </form>
                            <div class="status"></div>
                            <h5 class="text-center mt-3 mb-3">Thank You</h5>
                        </div>
        
                   </ul>
                </div>
                </section>
            </div>
            <div class="col-lg-7" class="border border-dark py-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30457.647239417096!2d78.48609351444549!3d17.40190347634472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb979f37414141%3A0x737b4369a911a2a4!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1680731435679!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div>
        <div class="list-group">
            <center>
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <h5 class="mb-1">Address</h5>
                    <p class="mb-1">5555/454 plot no 78 s r nager</p>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mt=4">
                    <h5 class="mb-1">Contacts</h5>
                    <p class="mb-1">5252525525545.5442242442424</p>
                    
                  </a>
                  <a href="#"></a>
                  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mt=4">
                    <h5 class="mb-1">Email</h5> 
                    <p class="mb-1">ksflaskfslkfn@gamil.com</p>
                  </a>
            </center>
         
          </div>

    </div>
 
    {% endblock%}
</body>
</html>